<div class="container">
  <h2>This is my amazing app</h2>
  <p>lorem ipsum djbvhs dhbfg diugkao iweo saoefjb sib oashfosjf arsbfo fna bfoaiefn awoef ifbgb</p>

  <%= link_to "Create flat", "#", class: "btn btn-primary" %>
</div>
